.Navbar{
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: grey;
}

.Navbar2{
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logoAndName{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 40px;
    cursor: pointer;
    padding-left: 10px;
}

.searchProduct{
    display: flex;
    width: 60px;
    cursor: pointer;
    padding-right: 20px;
}

.decoration{
    text-decoration: none;
    color:black;
    cursor: pointer;
}

a:link{
    text-decoration: none;
}

.Navbar > .nav-logo{
    font-weight: 700;
    font-size: 21px;
    margin: 15px
}


@media(max-width: 700px){
  
}