.popup {
  background-color: white !important;
  border-radius: 16px !important;
  font-family: 'Montserrat';
  font-weight: 600;
}

.deny,
.confirm,
.cancel {
  border-radius: 0.25rem !important;
  width: 150px !important;
}
.deny:focus-visible,
.confirm:focus-visible .cancel:focus-visible {
  box-shadow: #303f9f !important;
}
.deny:focus,
.confirm:focus .cancel:focus {
  box-shadow: none !important;
}
.confirm {
  background-color: #303f9f !important;
  border: 1.5px solid #303f9f !important;
}

.deny,
.cancel {
  background-color: white !important;
  border: 2px solid #303f9f !important;
  color: #303f9f !important;
}
