.pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: absolute;
  }
  
  .pagination .page-num {
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 400;
  }
  
  .pagination .page-num:hover {
    background-color: #5ab1bb;
    color: #fff;
  }
  
  .pagination .active {
    background-color: #5ab1bb;
  }