.pagination {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  height: 50px;
  left: 45.2vw;
  font-size: 20px;
  font-weight: lighter;
  position: absolute;
  top: 160px;
  color: darkgery;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}
.page-num2 {
  width: 50px;
  padding: 10px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
}
.page-num {
  width: 50px;
  padding: 10px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
  font-size: 16px;
}

.pagination .page-num:hover {
  background-color: rgb(48 63 159);
  color: #fff;
}

.pagination .active {
  text-decoration: underline;
  text-decoration-style: double;
  text-decoration-color: rgb(48 63 159);
  text-underline-offset: 6px;
  color: darkslategrey;
}

.active:hover {
  text-decoration: underline;
  text-decoration-style: double;
  text-decoration-color: white;
}
